AIRFLOW_UID=1000

# Snowflake
SNOWFLAKE_ACCOUNT=your_account.region
SNOWFLAKE_USER=your_user
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_ROLE=IOT_TRANSFORMER
SNOWFLAKE_WAREHOUSE=IOT_WH
SNOWFLAKE_DATABASE=IOT_PIPELINE

# AWS
AWS_ACCESS_KEY_ID=your_key
AWS_SECRET_ACCESS_KEY=your_secret
AWS_DEFAULT_REGION=us-east-1
